.dbutton {
    composes: variables from './variables.module.css';
    composes: bordered from './variables.module.css';

    /* disable default styling */
    font: inherit;
    appearance: none;
    box-shadow: none;
    background-color: #0000;
    border: none;

    /* button styling */
    color: var(--accent-1);
    cursor: pointer;
    font-weight: bold;
    height: 1.5rem;
    border-radius: 0.5rem;

    /* DistortBorder styling */
    --border-width: 0.3rem;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    /* a scale animation, for fun */
    transition: var(--scale-transition);

    &:hover {
        transform: scale(1.015);
    }

    &:active {
        transform: scale(0.95);
    }
}