.variables {
    --scale-bezier: cubic-bezier(0.81, 0, 0.37, 3.69);
    --scale-transition: transform 0.2s cubic-bezier(0.81, 0, 0.37, 3.69);

    --ok-l1: 1.5;
    --ok-l2: 0.6;
    --ok-l3: 75%;
    --ok-c-factor: 1.5;

    --secondary-color: #415153;
    --background-color: #0A102E;
    --hi-vis-color: #DBE4FF;

    --accent-1: #18F7F7;
    --accent-2: #FF61FF;
    --accent-3: #FFFF16;

    @media (prefers-color-scheme: light) {
        --ok-l1: 0.95;
        --ok-l2: 1.3;
        --ok-l3: 50%;
        --ok-c-factor: 1.4;

        --background-color: #FEF6C7;
        --hi-vis-color: #0c007d;
        --secondary-color: #d6d6d6;

        --accent-1: #D61500;
        --accent-2: #2F8000;
        --accent-3: #034cdf;
    }
}